<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Page</title>
<link rel="stylesheet" href="../css/hod_home.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <a id="scanner" href="/scanner">Scanner page here</a>
            <a id="show_attendance" href="/showAttendance">show attendance</a>
            <a id="undate" href="/update_attendance">update attendance</a>
            <a id="delete" href="/delete_attendance">delete attendance</a>

            <a id="scanner" href="/create_subject">create subject</a>
            <a id="show_attendance" href="/show_subject">show subject</a>
            <a id="undate" href="/update_subject">update subject</a>
            <a id="delete" href="/delete_subject">delete subject</a>
        </div>
    </div>
</body>
</html>
